<!-- <form class="form-signin" >
    <label for="email">Email</label>
    <input type="email"  class="form-control" id="email" placeholder="">
    <label for="Password">Password</label>
    <input type="password"  class="form-control"  id="password" placeholder="">
    <button > login</button>
</form> -->

<div class="container">
  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img
    id="profile-img"
    class="profile-img-card"
    src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
  />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" (ngSubmit)=login($event)>
      <span id="reauth-email" class="reauth-email"></span>
      <input
        type="email"
        id="inputEmail"
        [(ngModel)]="email"
        class="form-control"
        name="email"
        placeholder="Email address"
        
        autofocus
        required
      />
      <input
        type="password"
        id="inputPassword"
        [(ngModel)]="password"
        name="password"
        class="form-control"
        placeholder="Password"
        required
      />
      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin" >
        Sign in
      </button>
    </form>
    <!-- /form -->
    <a routerLink="/auth/signup" class="forgot-password">  Don't havea an account?</a>
  </div>
  <!-- /card-container -->
</div>
